<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syc.tsgl.dao.ClazzMapper">
	<resultMap id="BaseResultMap" type="com.syc.tsgl.entity.Clazz">
		<id column="classId" jdbcType="INTEGER" property="classid" />
		<result column="className" jdbcType="VARCHAR" property="classname" />
		<result column="classTime" jdbcType="VARCHAR" property="classtime" />
		<result column="classHours" jdbcType="TINYINT" property="classhours" />
		<result column="classProgress" jdbcType="TINYINT" property="classprogress" />
		<collection property="courseInfos" ofType="CourseInfo">
			<result column="courseName" property="courseName" jdbcType="VARCHAR" />
			<result column="courseInfoChapterName" jdbcType="VARCHAR"
				property="courseinfochaptername" />
		</collection>
	</resultMap>
	<sql id="Base_Column_List">
		classId, className, classTime, classHours, classProgress
	</sql>
	<select id="selectByClassName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from tb_class
		<where>
			<if test="className != null and className != ''">
				className = #{className}
			</if>
		</where>
	</select>
	<select id="listAllClazzs" resultMap="BaseResultMap">
		select
		*
		from tb_class
		c,tb_course_info ci
		where c.classId = ci.classid
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_class
		where classId = #{classid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		tb_class
		where classId = #{classid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.syc.tsgl.entity.Clazz">
		insert into tb_class (classId,
		className, classTime,
		classHours, classProgress
		)
		values
		(#{classid,jdbcType=INTEGER}, #{classname,jdbcType=VARCHAR},
		#{classtime,jdbcType=VARCHAR},
		#{classhours,jdbcType=TINYINT},
		#{classprogress,jdbcType=TINYINT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.syc.tsgl.entity.Clazz">
		insert into tb_class
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="classid != null">
				classId,
			</if>
			<if test="classname != null">
				className,
			</if>
			<if test="classtime != null">
				classTime,
			</if>
			<if test="classhours != null">
				classHours,
			</if>
			<if test="classprogress != null">
				classProgress,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="classid != null">
				#{classid,jdbcType=INTEGER},
			</if>
			<if test="classname != null">
				#{classname,jdbcType=VARCHAR},
			</if>
			<if test="classtime != null">
				#{classtime,jdbcType=VARCHAR},
			</if>
			<if test="classhours != null">
				#{classhours,jdbcType=TINYINT},
			</if>
			<if test="classprogress != null">
				#{classprogress,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.syc.tsgl.entity.Clazz">
		update tb_class
		<set>
			<if test="classname != null">
				className = #{classname,jdbcType=VARCHAR},
			</if>
			<if test="classtime != null">
				classTime = #{classtime,jdbcType=VARCHAR},
			</if>
			<if test="classhours != null">
				classHours = #{classhours,jdbcType=TINYINT},
			</if>
			<if test="classprogress != null">
				classProgress = #{classprogress,jdbcType=TINYINT},
			</if>
		</set>
		where classId = #{classid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.syc.tsgl.entity.Clazz">
		update tb_class
		set className = #{classname,jdbcType=VARCHAR},
		classTime =
		#{classtime,jdbcType=VARCHAR},
		classHours =
		#{classhours,jdbcType=TINYINT},
		classProgress =
		#{classprogress,jdbcType=TINYINT}
		where classId =
		#{classid,jdbcType=INTEGER}
	</update>
</mapper>