<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syc.tsgl.dao.StudentMapper">
	<resultMap id="BaseResultMap" type="com.syc.tsgl.entity.Student">
		<id column="studentId" jdbcType="VARCHAR" property="studentid" />
		<result column="studentName" jdbcType="VARCHAR" property="studentname" />
		<result column="studentMajor" jdbcType="VARCHAR" property="studentmajor" />
		<result column="studentGroup" jdbcType="VARCHAR" property="studentgroup" />
		<result column="studentState" jdbcType="BIT" property="studentstate" />
		<result column="classId" jdbcType="INTEGER" property="classid" />
	</resultMap>
	<sql id="Base_Column_List">
		studentId, studentName, studentMajor, studentGroup, studentState, classId
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_student
		where studentId = #{studentid,jdbcType=VARCHAR}
	</select>
	<select id="listStudentByClassId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_student
		where classid = #{classId}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tb_student
		where studentId = #{studentid,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.syc.tsgl.entity.Student">
		insert into tb_student (studentId, studentName, studentMajor,
		studentGroup, studentState, classId
		)
		values (#{studentid,jdbcType=VARCHAR}, #{studentname,jdbcType=VARCHAR},
		#{studentmajor,jdbcType=VARCHAR},
		#{studentgroup,jdbcType=VARCHAR}, #{studentstate,jdbcType=BIT}, #{classid,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.syc.tsgl.entity.Student">
		insert into tb_student
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="studentid != null">
				studentId,
			</if>
			<if test="studentname != null">
				studentName,
			</if>
			<if test="studentmajor != null">
				studentMajor,
			</if>
			<if test="studentgroup != null">
				studentGroup,
			</if>
			<if test="studentstate != null">
				studentState,
			</if>
			<if test="classid != null">
				classId,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="studentid != null">
				#{studentid,jdbcType=VARCHAR},
			</if>
			<if test="studentname != null">
				#{studentname,jdbcType=VARCHAR},
			</if>
			<if test="studentmajor != null">
				#{studentmajor,jdbcType=VARCHAR},
			</if>
			<if test="studentgroup != null">
				#{studentgroup,jdbcType=VARCHAR},
			</if>
			<if test="studentstate != null">
				#{studentstate,jdbcType=BIT},
			</if>
			<if test="classid != null">
				#{classid,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.syc.tsgl.entity.Student">
		update tb_student
		<set>
			<if test="studentname != null">
				studentName = #{studentname,jdbcType=VARCHAR},
			</if>
			<if test="studentmajor != null">
				studentMajor = #{studentmajor,jdbcType=VARCHAR},
			</if>
			<if test="studentgroup != null">
				studentGroup = #{studentgroup,jdbcType=VARCHAR},
			</if>
			<if test="studentstate != null">
				studentState = #{studentstate,jdbcType=BIT},
			</if>
			<if test="classid != null">
				classId = #{classid,jdbcType=INTEGER},
			</if>
		</set>
		where studentId = #{studentid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.syc.tsgl.entity.Student">
		update tb_student
		set studentName = #{studentname,jdbcType=VARCHAR},
		studentMajor = #{studentmajor,jdbcType=VARCHAR},
		studentGroup = #{studentgroup,jdbcType=VARCHAR},
		studentState = #{studentstate,jdbcType=BIT},
		classId = #{classid,jdbcType=INTEGER}
		where studentId = #{studentid,jdbcType=VARCHAR}
	</update>
</mapper>